.heroWrapper {
  padding: 1.5rem 0 3rem 0;
}
.heroWrapperInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.heroWrapperContent {
  order: 1;
}
.heroWrapperTitle {
  font-size: 2rem;
  font-weight: 600;
  color: var(--txt-default);
  font-family: 'Shadows Into Light', cursive;
  letter-spacing: 3px;
}
.heroWrapperTitle > span {
  color: var(--primary);
}
.heroWrapperDesc {
  /*color: var(--txt-secondary);*/
  font-size: 1.25rem;
  margin-bottom: .5rem;
}
.heroWrapperDescOutline {
  color: var(--txt-secondary);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--txt-secondary);
}
.heroSocialPanel {
  display: none;
  color: var(--primary);
}
.heroWrapperAvtarWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: 8rem;
  flex-shrink: 0;
  position: relative;
  order: 0;
}
.avatarWrapper{
  position: relative;
  display: flex;
  justify-content: center;
  transform: rotateY(180deg) scale(0.75);
  margin-bottom: 1rem;
  height: 8rem;
}
.heroWrapperAvtar {
  position: relative;
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  overflow: hidden;
  border: 1px solid var(--border-secondary);
  background-color: var(--bg-muted);
  transform: scale(0);
}
.heroWrapperAvtarFallback {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.svgBlob {
  opacity: 0.4;
  position: absolute;
  top: calc(50% - 6rem);
  left: calc(50% - 9rem);
  width: 18rem;
  margin: -40px -30px;
  transform: scale(0);
  transform-origin: center
}

.aboutSection {
  position: relative;
  padding: 2rem 0;
  color: var(--txt-secondary);
  text-align: left;
  background-image: var(--bg-pattern);
  border-top: 1px solid var(--border-muted);
  border-bottom: 1px solid var(--border-muted);
}
.aboutSection p{
  transform: scale(0);
  margin-bottom: 1rem;
}

.expertiseSection {
  padding: 2rem 0;
}
.expertiseSectionCols {
  width: 100%;
}
.expertiseSectionCols:first-child {
  padding-right: 2rem;
  display: none;
}
.svgBackDrop {
  fill: var(--bg-muted);
}
.expertiseSectionTitle {
  font-weight: 900;
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: .875rem;
}
.expertiseSectionTags {
  padding: .5rem .875rem;
  color: var(--txt-default);
  margin: .25rem;
  border-radius: .25rem;
  border: 2px dashed var(--border-secondary);
  opacity: 0.5;
  flex-grow: 1;
  text-align-last: center;
}

.writingsSection {
  position: relative;
  padding-top: 2rem;
  overflow: hidden;
}
.writingsSectionBackdrop {
  position: absolute;
  top: 1rem;
  left: 0;
  height: calc(100% - 2rem);
  width: 100%;
  background-color: var(--bg-muted);
  z-index: -1;
  opacity: 1;
}
.writingsSectionColsL, .writingsSectionColsR {
  width: 100%;
  padding: 1rem 0;
  color: var(--txt-secondary);
}

.projectsSection {
  padding: 2rem 0;
  /*background-color: var(--bg-muted);*/
}
.projectsSectionTitle, .writingsSectionTitle {
  color: var(--txt-secondary);
  font-weight: 900;
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: .875rem;
}


/*|||||||||||||||||||||| Mobile(sm) ||||||||||||||||||||||*/

@media(min-width: 640px) {
  
}

/*|||||||||||||||||||||| Tablet(md) ||||||||||||||||||||||*/

@media(min-width: 768px) {
  .aboutSection, .projectsSection {
    padding: 4rem 0;
    font-size: 1.25rem;
    line-height: 2rem;
  }
  .expertiseSection, .writingsSection {
    padding: 6rem 0;
  }

  .heroWrapperDescOutline {
    -webkit-text-stroke-width: 2px;
  }

  .heroWrapperTitle {
    font-size: 2rem;
    margin-bottom: 0;
  }
  .heroWrapperDesc {
    font-size: 2.5rem;
    font-weight: 900;
  }

  .aboutSection {
    text-align: center;
  }

  .expertiseSectionTags {
    flex-grow: 0;
  }
  .expertiseSectionTitle, .projectsSectionTitle, .writingsSectionTitle {
    font-size: 2.5rem;
  }
}

/*|||||||||||||||||||||| Laptop(lg) ||||||||||||||||||||||*/

@media(min-width: 1024px) {
  .heroWrapper {
    padding: 1.25rem 0 5rem 0;
  }
  .heroWrapperInner {
    flex-wrap: nowrap;
  }
  .heroWrapperDesc {
    font-size: 3rem;
  }
  .heroSocialPanel {
    display: block;
  }
  .heroWrapperContent {
    align-items: flex-start;
    text-align: left;
  }
  .heroWrapperAvtarWrapper {
    width: 18rem;
    height: 9.125rem;
    order: 2;
  }
  .avatarWrapper{
    height: 9.125rem;
    transform: none;
    margin-bottom: 4rem;
  }
  .writingsSectionColsL {
    width: 40%;
    padding-right: 3rem;
  }
  .writingsSectionColsR {
    width: 60%;
  }
  .expertiseSectionCols:first-child {
    display: block;
  }
  .expertiseSectionCols {
    width: 50%;
  }
}

/*|||||||||||||||||||||| Desktop(xl) ||||||||||||||||||||||*/

@media(min-width: 1152px) {
  .heroWrapperDesc {
    font-size: 3.5rem;
    padding-right: 2rem;
    font-weight: 900;
  }
}